/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding-top: 50px;
    background-image: url("http://is4.mzstatic.com/image/thumb/Video4/v4/79/66/a3/7966a3d5-f85e-20ea-8918-aaf6bbd84b23/source/1920x1080sr.jpg")
}

.owl {
    width:50px;
}

.navbar-brand.owl{
    padding-top:0;
    padding-right:60px;
}

#status_content {
    height: 200px;
    width: 161px;
}

input{
    width: 300px;
    margin-bottom: 15px;
}